<p class="p1">
 <i><b>@@Welcome to donor-home page@@</b> </i>
</p>
<p class="p2">
  I would like to thank you for contributing food for poor people. Your support helps us continue in our mission, and we will definitely reach our goal of feeding a huge number of people free of cost.
I can't tell you how much satisfaction we feel after feeding them.
The blessings they shower on us are the only objective for us. I would like to suggest that you can also come with us to serve the food to them. I am sure it will also make you feel happy.
The generous support of individuals like you makes our organization possible to exist and makes the community a great place to live. Thank you again for your support.
</p>